body{
    background-color: rgb(47, 5, 48);
      min-height: 100vh;
     
}

.body1{
background-image: url('gamepics/finalbd.jpg');
    background-attachment:fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}
.header1{
    background-image: url('choose.jpg');
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(126, 47, 115, 0.84);
    padding: 10px;
    box-shadow: 0 20px 20px rgba(247, 184, 241, 0.582);
    border-radius: 20px;
    text-align: center;
}

.header2{
     margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(56, 24, 52);
    padding: 10px;
    box-shadow: 0 20px 20px rgba(43, 3, 39, 0.582);
    display: flex;
    justify-content: space-evenly;
     text-decoration-color: pink;
    font-size: x-large;
}

a{
    color: burlywood;
    text-decoration: none;
    font-size: x-large;
}

i{
    color: burlywood;
}


h1{
    color:rgb(94, 14, 75);
    font-size: 3rem;
    align-items: center;
    font-weight: bold;
    
}

h2{
    color: rgba(234, 187, 107, 0.486);
}
 label{
    color: rgb(239, 201, 234);
}

h3{
     color: rgb(241, 216, 238);
     background-color: rgb(75, 24, 75);
     box-shadow: 0 5px 10px rgb(237, 200, 147);
     border-radius: 10px;
     padding: 10px;
}
.btn{
  padding: 8px;
  box-shadow: 0 6px 12px  wheat;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(45, 22, 44);
  color: plum;
  font-size: larger;
}

    .btn i {     
            margin-right: 8px;
        }
  

.btn2{
  padding: 8px;
  box-shadow: 0 6px 12px  wheat;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(69, 22, 66);
  color: plum;

}
 .btn:hover{
    background-color: rgb(143, 116, 143);
 }

 .icons{
    display: flex;
    justify-content: center;
    gap: 18px;

 }
legend{
   
    font-family: monospace;
    color: bisque;
     background-color: rgb(75, 24, 75);
     box-shadow: 0 5px 10px rgb(237, 200, 147);
     border-radius: 10px;
     padding: 10px;
}
 input{
    padding: 10px;
    width: 180px;
    height: 16px;
    border-radius: 8px;
}
select{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(253, 245, 253);
}

.container{
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 80vh;
    background: linear-gradient(180deg, rgba(196, 101, 180, 0.735), rgba(252, 218, 250, 0.708));
    padding: 28px;
    box-shadow: 0 20px 30px rgba(240, 175, 240, 0.751);
    display: flex;
}

.container2{
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 60vh;
    /*background: linear-gradient(180deg, rgb(45, 22, 41), rgba(120, 51, 115, 0.708));*/
    background-image: url('flowers.jpg');
    padding: 28px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 20px 40px rgb(125, 32, 109);
    border-radius: 80px;

      background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.box{

    height: 40%;
    
    margin-right: 15px;
    margin-top: 20px;
    background-color: rgba(124, 70, 129, 0.445);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 20px 50px pink;
    animation: modalSlideIn 0.3s ease;
     flex: 1 0 300px;
}

button{
    width: 200px;
    min-height: 40px;
    padding: 6px;
    background-color: rgb(63, 30, 61);
    color: white;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(237, 200, 147);
    border: none;
   
}



.inBox{
    display: flex;
    justify-content: space-between;
}

.subtext{
    color:rgba(19, 14, 19, 0.721);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
input[type="text"],
input[type="number"]{

   width: 50%;
  padding: 12px 20px;
  padding-left: 45px; /* Space for icon */
  border: 2px solid rgb(70, 33, 68);
  border-radius: 30px; /* Creates rounded edges */
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.749);
  color: #8e2ba0fa;
  box-shadow: 0 2px 5px rgba(206, 83, 225, 0.1);
  transition: all 0.3s ease;
  height: 40%;
    
}
 .result-section{
    scroll-margin-top: 20px;
    transition: all 0..3s ease;
 }

 .top-panels {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 70px;
     margin-bottom: 30px;
     padding: 10px;
      scroll-snap-type: x mandatory;
      box-shadow: 5px 5px 8px rgba(245, 222, 179, 0.553);
      border-radius: 20px;
    }

    .top-panels::-webkit-scrollbar {
      display: none; /* Hide scrollbar (optional) */
    }

.loginbtns{
    height: 13vh;
    display: flex;
    justify-content: center;
    gap: 50px;
}

hr{
    color: purple;
}

.ovals{
 width: 160px;
 height: 160px;
 border-radius: 50%;
 cursor: pointer;
 display: flex;
 justify-content: center;
 color: wheat;
 box-shadow: 0 10px 25px rgb(224, 209, 130);
 background: linear-gradient(180deg, rgb(41, 21, 37), rgba(42, 7, 40, 0.708));
 align-items: center;
 font-weight: bold;
 font-family: monospace;
 font-size: larger;
}


.ovalpic {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  overflow: hidden; 
  box-shadow: 0 10px 12px rgb(16, 2, 18); 
}

.ovalpic img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.cont{
    align-self: center;
    margin-left: 45px;
    margin-right: 15px;
    min-height: 17vh;
    background: linear-gradient(180deg, rgba(151, 93, 141, 0), rgba(252, 218, 250, 0.068));
    padding: 28px;
    box-shadow: 0 20px 30px rgba(16, 3, 16, 0.831);
    display: center;
    text-align: center;
    border-radius: 10px;
    
    background-image: url('gamepics/finialbd.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    }
    
    .cont2{
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 55vh;
    background: linear-gradient(180deg, rgb(19, 11, 18), rgba(23, 1, 26, 0.776));
    padding: 28px;
    box-shadow: 0 20px 30px rgba(45, 16, 45, 0.32);
    
    gap: 50px;
    border-radius: 10px;
    
    
}

.btn3{
 background: linear-gradient(180deg, rgb(26, 10, 23), rgba(29, 2, 27, 0.776));
 padding: 3px;
 box-shadow: 0 6px 8px rgb(236, 202, 139);
 color: burlywood;
 font-size: x-large;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 border-radius: 15px;
 display: inline-block;
 cursor: pointer;
}

.gamepanel{
    display: inline-block;
    padding: 5px;
    margin: 24px;
}

footer{
    background-color: rgb(2, 2, 2);
    color: rgb(27, 2, 27);
    padding: 20px 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
        
}
 .cont3{
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 40vh;
    /*background: linear-gradient(180deg, rgba(151, 93, 141, 0), rgba(252, 218, 250, 0.068));*/
    padding: 28px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 180px;
    row-gap: 30px;
 }

 .cont4{
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 40vh;
    /*background: linear-gradient(180deg, rgba(151, 93, 141, 0), rgba(252, 218, 250, 0.068));*/
    padding: 28px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    column-gap: 200px;
    row-gap: 30px;
 }

 .cont5{
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 40vh;
    /*background: linear-gradient(180deg, rgba(151, 93, 141, 0), rgba(252, 218, 250, 0.068));*/
    padding: 28px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    column-gap: 200px;
    row-gap: 30px;
 }



 .tpanels{
    width: 350px;
    height: 200px;
    color: rgb(78, 8, 55);
    background-color: wheat;
    border-radius: 15px;
    box-shadow: 0 5px 10px wheat;
    padding: 15px;
    margin-left: 5px;
    font-family: fantasy;
    font-size: x-large;
    text-align: center;

     background-image: url('gamepics/border.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
 }

 .bttn{
    width: 95px;
  height: 95px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
background: linear-gradient(180deg, rgba(66, 3, 55, 0.954), rgb(86, 6, 62));
  
  color: burlywood;
  padding: 5px;
  font-family: monospace;
  font-size: larger;
  cursor: pointer;

 }

    /*****************************/
 